﻿.rainbow-slider {
    background: linear-gradient(to right,#e06c4d 0%,#c71f3a 80%,#f1f3f6 80%,#f1f3f6 100%);
    /*background: linear-gradient(to right, #720000 0%, #ff4c4c 16%, #f7f733 32%, #3be240 50%, #6dccff 68%, #ca5aed 84%, #4c0041 100%);*/
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.18);
    height: 30px;
}
#slider .ui-slider-horizontal.ui-slider-pips {
    margin-bottom: 10px;
}
    .rainbow-slider .ui-slider-handle {
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        border-top: 10px solid #729bf8;
        border-bottom: transparent;
        background: none;
        top: -5px;
        display: none;
    }

        .rainbow-slider .ui-slider-handle.ui-state-hover,
        .rainbow-slider .ui-slider-handle:hover,
        .rainbow-slider .ui-slider-handle.ui-state-focus,
        .rainbow-slider .ui-slider-handle:focus,
        .rainbow-slider .ui-slider-handle.ui-state-active {
            background: rgba(255, 255, 255, 0.21);
        }

    .rainbow-slider .ui-slider-pip-first {
        margin-left: 0;
        top: 10px;
    }

    .rainbow-slider .ui-slider-pip-last {
        margin-left: -3em;
        top: 10px;
    }

    .ui-slider-pips .ui-slider-label {
        left: 0;
        margin-left: 0;
        position: absolute;
        top: -10px;
        left: 0;
        margin-left: -1em;
        width: 2em;
        color: white;
    }
    .rainbow-slider .ui-slider-pip .ui-slider-label[data-value="0"] {
        color: black;
    }

    .rainbow-slider .ui-slider-pip .ui-slider-label[data-value="1"] {
        color: black;
    }

    .rainbow-slider .ui-slider-pip .ui-slider-label[data-value="2"] {
        color: black;
    }

.ui-slider-line {
    display: none;
}
