﻿/*Html tags*/

.body {
    font-family: 'Pontano Sans', sans-serif;
}

a, button {
    font-size: 12px;
}

sup, i {
    color: #729bf8;
}

p {
    font-size: 12px;
}

a:hover {
    border: none;
    cursor: pointer;
}

/*Margins Padding*/
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-top-40 {
    padding-top: 40px;
}
.border-right-none {
    border-right: none;
}
.border-right {
    border-right: 1px solid #d9d9d9;
    border-bottom: 0;
    margin-bottom: 0;
    padding-left: 10px;
}
.border-left {
       border-left: 1px solid #d9d9d9;
    border-bottom: 0;
    margin-bottom: 0;
    padding-right: 10px; 
}
.no-border {
    border: none;
}
/*Helper classes*/
.fund-name {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.headings {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.border-box {
    border: 1px solid #ccc;
    border-right: none;

}

.divide {
    border-right: 1px solid #ccc;
    padding: 0 10px;
}

.divider-vertical {
    border-bottom: 1px solid #ccc;
}
.divider {
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #ccc;
    margin-top: 15%;
    margin-bottom: 25%;
}
.details {
    font-size: 12px;
    color: gray;
}

.display-none {
    display: none;
}

.btn-buy, .btn-sell {
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
}

.btn-buy {
    margin-left: 10px;
        background-color: #597A1D;

}

.btn-sell {
    margin-left: 5px;
        background-color: red;

}

.text-underline {
    white-space: nowrap;
    font-size: 12px;
    border-bottom: 1px dashed #729bf8;
    padding-bottom: 5px;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}
/*Ratings*/
.br-widget a {
}

.br-theme-css-stars .br-widget a.br-active:after {
    color: #729bf8;
}

.br-theme-css-stars .br-widget a.br-selected:after {
    color: #729bf8;
}

.br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 10px;
    width: 10px;
    float: left;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.br-theme-bars-movie .br-widget a {
    display: block;
    width: 10px;
    height: 10px;
    float: left;
    background-color: #bbcefb;
    margin-top: 10px;
}

.rating-label {
    font-size: 8px;
    position: relative;
    top: -10px;
}

#rainbow-slider {
    margin-top: 10px;
    width: 100px;
    opacity: 1;
}

    #rainbow-slider .ui-slider-label {
        font-size: 8px;
    }

.color-band {
    width: 5px;
    height: 15px;
    background-color: blue;
}

.do-table td {
    padding-bottom: 5px;
    padding-top: 5px;
}
.do-table > tbody tr {
    cursor: pointer;
}
    .do-table td:nth-child(2) {
        padding-left: 5px;
    }

    .do-table td:nth-child(3), .do-table th:nth-child(3) {
        text-align: right;
    }

.do-table tr.border_bottom td, .do-table tr.border_bottom th {
    border-bottom: 1pt solid #ccc;
}

.closebtn {
    padding-right: 20px;
    top: 0;
    position: absolute;
    right: 0;
    float: right;
}
.fund-details {
    height: 160px;
    overflow-y: hidden;
}
.fund-details-overlay {
    position: relative; 
    bottom: 6em;
    height: 6em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.togglemore {
    text-align: center;
}

.lnk-btn {
    font-size: 14px;
    color: gray;
    margin-right: 10px;
    margin-left: 10px;

}
.lnk-btn > i {
    font-size: 14px;
    color: gray;

}
.card-title  {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    color: #1b284b;
    font-weight: 600;
}

.para {
    font-size: 14px;
    text-align: justify;

}
.box-btn {
    color: #fff !important;
    position: relative;
    background: #b72e39;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    width: 70px;
    height: 35px;
    text-align: center;
    font-weight: bold;
}
.card-block {
    background-color: #009688;
    border-color: #009688;
    position: relative;
    display: block;
    margin-bottom: .75rem;
    color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
    text-align: center;
    padding: 1.25rem;
    letter-spacing: 1px;
    margin-top: 10px;
}