﻿ul.nav-gray {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}
ul.nav-gray li:first-child {
    margin-left: 30%;
}
ul.nav-gray li {
    float: left;
}

ul.nav-gray li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.nav-gray li a:hover {
    background-color: #ddd;
}
ul.nav-gray li a.active {
    color: white;
    background-color: #008CBA;
}