﻿
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    height: 700px;
    margin-top: 10px;
}

#sidebar, #sidebar1 {
    float: none;
    position: absolute;
    top: 75px;
    right: 55px;
}

#sequence, #sequence1 {
    width: 100%;
    height: 70px;
}


    #sequence1 text, #sequence text, #legend1 text, #legend text {
        font-weight: 600;
        fill: #fff;
    }

#chart, #chart1 {
    position: relative;
    height: 500px;
}

    #chart path, #chart1 path {
        stroke: #fff;
    }

#explanation, #explanation1 {
    position: absolute;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage, #percentage1 {
    font-size: 2.5em;
}

#node-name, #node-name1 {
    font-size: 1.25em;
    font-weight: bold;
}

.legend li a:hover {
    background-color: #008000;
    color: #FFFFFF;
}

.legend ul {
    margin-top: 10px;
    list-style: none;
    padding-left: 20px;
}

.legend {
    width: 300px;
}

    .legend li {
        padding: 15px;
        width: 300px;
    }

        .legend li ul {
            display: none;
        }

        .legend li:hover > ul {
            display: block;
        }

    .legend .item {
        padding: 10px;
        margin: 20px;
        background-color: coral;
        border-radius: 5px;
        font-weight: 600;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

.equity {
    margin-left: 10px;
}

.equitytable {
    font-size: 14px;
    text-align: center;
}

    .equitytable th {
        background-color: cornflowerblue;
        color: white;
        padding: 5px;
    }

    .equitytable td {
        padding: 5px;
    }

section {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255,255,255,0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
tr {
    padding: 5px 15px;
}

tr:hover {
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.3);
}
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.btn-group {
    width: 85px;
}
.buy {
    font-weight: bold;
    color: green;
    padding: 2px 6px;
    background: rgba(256, 256, 256, 0.5);
    font-size: smaller;
    border-radius: 4px;
}

.sell {
    font-weight: bold;
    color: red;
    padding: 2px 6px;
    background: rgba(256, 256, 256, 0.5);
    font-size: smaller;
    border-radius: 4px;
}

.buy:hover {
    font-weight: bold;
    color: green;
}

.sell:hover {
    font-weight: bold;
    color: red;
}

.loss {
    color: red;
    font-weight: bold;
}

.profit {
    font-weight: bold;
    color: green;
}

span.roll {
    background: center center no-repeat #fff;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: 153px;
    width: 100px;
    z-index: 10;
}

.roll:before {
    content: "\f00e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #784669;
    font-size: 40px;
    padding-right: 0.5em;
    position: absolute;
    top: -50px;
    right: 15px;
}

.header {
    font-family: Montserrat, sans-serif;
    margin-left: 100px;
    color: red;
}
