

@import url("./oxygen.css");

/* override style stuff */

#header {
    position: relative;
    margin: 10px 0;
    padding-top: 0;
}

    #header img {
        right: 0;
    }

#menu-primary {
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
}

#footer-content {
    width: 100%;
}

#footer .copyright {
    float: right;
}

/* hacky custom sidebar */
.post-content {
    width: 63%;
    float: left;
}

#con-sidebar {
    width: 34%;
    margin-left: 3%;
    float: left;
    margin-top: 58px;
}

.concept-thumb {
    display: block;
    width: 250px;
    height: 250px;
    margin-bottom: 88px;
}

a.concept-thumb:hover {
    border: none;
}

/* standard */
a.btn {
    background-color: #0da4d3;
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}

    a.btn:hover, a.btn.active {
        color: #fff;
        background-color: #000;
        border: none;
    }

/* hide comments */
#hidden-comments {
    display: none;
}

#show-comments {
    margin: 20px 0;
}

/* episode carousel */
#episode-container {
    position: relative;
    width: 750px;
    height: 600px;
    margin: 20px auto;
    /* vertical space = (total height - episode height - height of bottom thing) / 2 */
    padding-top: 65px;
}

#funds {
    margin: 0;
    height: 380px;
}

    #funds li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
    }

        #funds li.first {
            display: block;
        }

        #funds li > a {
            position: relative;
            display: block;
            width: 750px;
        }

            #funds li > a:hover {
                border: 0;
            }

    #funds h2 {
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: 250px;
        background-color: #fff;
        padding: 10px 30px;
    }

    #funds li > a h2, #funds li > a .date {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #funds li > a:hover h2, #funds li > a:hover .date {
        background-color: #000;
        color: #fff;
    }

    #funds .date {
        position: absolute;
        right: 0;
        top: 300px;
        color: #999;
        background-color: #fff;
        padding: 5px 30px 5px 10px;
    }

    #funds p {
        margin-top: 20px;
        width: 500px;
    }

#transport {
    position: absolute;
    top: 410px; /* 350 + top pad of container */
    width: 750px;
}

    #transport a {
        position: absolute;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        display: block;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        z-index: 99;
    }

#next-episode {
    right: 0;
}

#transport a:hover {
    border: 0;
    background-color: #000;
}

#episode-thumbs {
    position: absolute;
    top: 0;
    background-color: #fff;
    margin: 0;
    width: 750px;
    z-index: 100;
}

    #episode-thumbs li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

        #episode-thumbs li a {
            display: block;
            border: 6px solid #fff;
        }

            #episode-thumbs li a:hover {
                border-color: #0da4d3;
            }

#controls {
    margin-top: 20px;
    width: 750px;
}

    #controls .btn {
        position: relative;
        float: right;
        margin-left: 10px;
        z-index: 99;
    }

/* map */
svg {
    font-family: Abel,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
}

.fund > rect {
    /*stroke: #fff;
    stroke-width: 1.5px;*/
    height: 30px;
    text-align: center;
}

.fund > text {
    text-align: center;
    alignment-baseline: text-before-edge;
}

/*.fund:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.5);
}*/

path {
    fill: none;
}

.fund, .node, .detail text, .all-funds {
    cursor: pointer;
}

.all-funds {
    fill: #aaa;
}

.detail a text:hover, text.all-funds:hover {
    text-decoration: underline;
}

#graph-info {
    position: absolute;
    width: 140px;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
}

/* references */
#references h3 {
    color: #999;
}

em.ref {
    color: #999;
    margin-left: 10px;
}

.ref-episode a, .ref-episode a:visited {
    white-space: nowrap;
    color: #999;
}

/* map */
#map .leaflet-popup-content a {
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid transparent;
}

    #map .leaflet-popup-content a:hover {
        color: #000;
        border-bottom-color: #0da4d3;
    }

/* Font size. */
html {
    font-size: 16px;
}

/* Font family. */
h1, h2, h3, h4, h5, h6, dl dt, blockquote, blockquote blockquote blockquote, #site-title, #menu-primary li a {
    font-family: 'Abel', serif;
}

/* Link color. */
a, a:visited, .page-template-front .hfeed-more .hentry .entry-title a:hover, .entry-title a, .entry-title a:visited {
    color: #0da4d3;
}

    .read-more, .read-more:visited, .pagination a:hover, .comment-navigation a:hover, #respond #submit, .button, a.button, #subscribe #subbutton, .wpcf7-submit, #loginform .button-primary {
        background-color: #0da4d3;
    }

    a:hover, a:focus {
        color: #000;
    }

    .read-more:hover, #respond #submit:hover, .button:hover, a.button:hover, #subscribe #subbutton:hover, .wpcf7-submit:hover, #loginform .button-primary:hover {
        background-color: #111;
    }

/* Custom CSS. */

.fdiv {
    position: relative;
}

#drawer {
    position: absolute;
    right: 0;
    top: 0;
    overflow-x: hidden;
    z-index: 100;
    bottom:0
}

#drawer-content {
    /*border-left: 2px solid white;*/
    float: left;
    height: 100%;
    width: 1170px;
    margin-right: -1170px;
    background-color: white;
    padding-top: 20px;
}

    #drawer-content > div.container {
        background-color: white;
    }

.overlaydark {
    background: #000;
    opacity: 0.4;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.leftslide {
    position: absolute;
    left: 0px !important;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 0;
}

@-webkit-keyframes slide {
    100% {
        left: -100px;
    }
}

@keyframes slide {
    100% {
        left: -100px;
    }
}

.fund {
    font-family: 'Ropa Sans';
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .15s ease-in-out;
}

    .fund:hover {
        transform-origin: center;
        transform: scale(1.1);
    }
    .fund:hover > rect {
        /*fill: #81CA80  ;*/
    }

.label {
    font-size: 12px !important;
    font-weight: 400 !important;
}

.main-node {
    font-family: 'Ropa Sans';
    letter-spacing: 1px;
    text-transform: uppercase;
}
    .main-node:hover {
        transform-origin: center;
        transform: scale(1.1);
    }
    .main-node:hover > circle {
        /*fill: #81CA80  ;*/
    }
.main-node > text.name-label, .detail > a {
    /*fill: black;*/
    font-size: 14px;
}